 <h3 class="my-3">Usuários</h3>
{{#if erro}}
    <div class="alert alert-danger">{{erro.aviso}}</div>

    {{else}}
        {{#each usuarios}}
            <div class="card my-3">
                <div class="card-body">
                    <div class="my-2">Nome :  {{nome}}</div>
                    <div class="my-2">idade :  {{idade}}</div>
                    <div class="my-2">cidade :  {{cidade}}</div>
                    <div class="my-4">
                        <a href="/editar/{{_id}}"><button class="btn btn-success">Editar</button></a>
                        <a href="/remover/{{_id}}"><button class="btn btn-danger">Remover</button></a>
                    </div>
                </div>
            </div>
            {{else}}
                <div class="alert alert-warning">Não há usuarios para serem mostrados!</div>
        {{/each}}
{{/if}}

